.footer-container {
  background: #040a2c;
}
.box-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 15rem;
  padding: 12rem;
  color: #ffffff;
}
.box-1_logo {
  margin-bottom: 3.2rem;
}
.box-1_text {
  font-size: 2rem;
  line-height: 2.7rem;
  font-weight: 700;
  margin-bottom: 4.6rem;
}
.box-1__contact {
  display: flex;
  align-items: center;
  margin-bottom: 3.6rem;
  gap: 0 1.2rem;
}
.box-1__contact p {
  font-size: 1.6rem;
}
/* Box2 */
.box-2 {
  margin-top: 3rem;
}
.box-2 h3 {
  font-size: 2rem;
  font-weight: 700;
}
.box-2__menu {
  margin-top: 3.2rem;
  display: grid;
  gap: 3.2rem 0;
}
.box-2__menu a {
  font-size: 2rem;
  line-height: 3rem;
  color: #ffffff;
  text-decoration: none;
}
/* Box-3 */
.box-2__content {
  margin-bottom: 6.8rem;
}
.box-2__content h3 {
  margin-bottom: 3.6rem;
}
.link {
  display: flex;
  gap: 0 4rem;
}
.link a {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 2.4rem;
  color: #040a2c;
  background: #fff;
  text-align: center;
  text-decoration: none;
}
/* button */
.box-2__app {
  display: grid;
  gap: 3.2rem 0;
}
.box-2__btn1 {
  display: flex;
  align-items: center;
}
.box-2__btn1 {
  justify-content: center;
  display: flex;
  gap: 0 2.4rem;
  width: 18rem;
  height: 4.8rem;
  background: #ffffff;
  border-radius: 0.5rem;
  cursor: pointer;
  overflow: hidden;
  border: none;
}
.box-2--button {
  text-align: center;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 700;
  color: #040a2c;
}
/* ========================== */
/* RESPONSIVE */

/* LAPTOP */
@media screen and (max-width: 1650px) {
  .box-container {
    gap: 3rem;
  }
}

/* IPAD PRO */
@media screen and (max-width: 1365px) {
}

/* IPAD */
@media screen and (max-width: 1023px) {
}

/* MOBILE */
@media screen and (max-width: 767px) {
}
