.partner-content {
  margin: 12rem 0;
}
.heading {
  font-size: 3.2rem;
  font-weight: 700;
  color: rgba(33, 55, 133, 1);
  text-align: center;
  margin: 0 auto;
}
.image-bank {
  padding-top: 6.4rem;
  display: flex;
  gap: 0 2.4rem;
}

/* ========================== */
/* RESPONSIVE */

/* LAPTOP */
@media screen and (max-width: 1650px) {
}

/* IPAD PRO */
@media screen and (max-width: 1365px) {
}

/* IPAD */
@media screen and (max-width: 1023px) {
}

/* MOBILE */
@media screen and (max-width: 767px) {
}
